EMAIL=you@example.com
PASSWORD=your-password
AVOCATPARIS_TOTP=
AVOCATPARIS_SESSION_STATE=/home/pi/.cache/barreauto/session-state.json
NTFY_BASE_URL=https://ntfy.sh
NTFY_ALL_CHANNEL=
NTFY_FREE_CHANNEL=
